<style>
    .nav-icon-login .bui-btn .icon- {
        width: 1.2rem;
        height: 1.2rem;
    }
</style>
<ul class="bui-nav-icon nav-icon-login bui-fluid-4">
    <li class="bui-btn">
        <i class="icon-">
            <img src="images/icons/icon-nav-l1.png" alt="">
        </i>
    </li>
    <li class="bui-btn">
        <i class="icon-">
            <img src="images/icons/icon-nav-l2.png" alt="">
        </i>
    </li>
    <li class="bui-btn">
        <i class="icon-">
            <img src="images/icons/icon-nav-l3.png" alt="">
        </i>
    </li>
    <li class="bui-btn">
        <i class="icon-">
            <img src="images/icons/icon-nav-l4.png" alt="">
        </i>
    </li>
</ul>
<div class="container-xy">
    <div id="btnLogin" class="bui-btn danger ring" style="width:3rem;">登录/注册</div>
</div>
<ul class="bui-nav-icon bui-fluid-4">
    <li class="bui-btn bui-box-vertical">
        <i class="icon-">
            <img src="images/icons/icon-nav-n1.png" alt="">
        </i>
        <div class="span1">动态</div>
    </li>
    <li class="bui-btn bui-box-vertical">
        <i class="icon-">
            <img src="images/icons/icon-nav-n2.png" alt="">
        </i>
        <div class="span1">跟帖</div>
    </li>
    <li class="bui-btn bui-box-vertical">
        <i class="icon-">
            <img src="images/icons/icon-nav-n3.png" alt="">
        </i>
        <div class="span1">收藏</div>
    </li>
    <li class="bui-btn bui-box-vertical">
        <i class="icon-">
            <img src="images/icons/icon-nav-n4.png" alt="">
        </i>
        <div class="span1">历史</div>
    </li>
</ul>