<style>
    .banner {
        margin-bottom: .1rem;
    }
    
    .scrollbar .bui-nav>[class*=span],
    .scrollbar .bui-nav>li {
        width: 3.6rem;
        background: #f6f7f9;
        text-align: left;
        border-radius: .1rem;
    }
    
    .scrollbar .bui-nav>li .icon {
        width: .8rem;
    }
    
    .scrollbar .bui-nav>li .item-title {
        color: #000;
    }
    
    .scrollbar .bui-nav>li .item-text {
        color: #f76729;
    }
    
    .discuss {
        background-color: #f6f7f9;
    }
    
    .panel-discuss {
        margin-bottom: .2rem;
    }
    
    .panel-discuss .bui-panel-head .icon {
        width: .6rem;
        margin-right: .1rem;
    }
    
    .panel-discuss .bui-panel-head {
        background: #fbfbfb;
        border-bottom: 0;
    }
    
    .panel-discuss .bui-panel-head .item-title {
        color: #333;
    }
    
    .panel-discuss .bui-panel-head .item-text {
        color: #5fa2dc;
    }
    
    .panel-discuss .bui-panel-head .icon-listright {
        color: #5fa2dc;
    }
    
    .panel-discuss .bui-panel-main {
        padding: .2rem;
    }
    
    .panel-discuss .bui-panel-main .item-title {
        font-size: .36rem;
        color: #000;
    }
    
    .panel-discuss .bui-panel-main .item-text {
        color: #333;
        line-height: 1.7;
        font-size: .3rem;
        margin-bottom: .3rem;
    }
    
    .panel-discuss .bui-panel-main .block {
        background: #f6f7f9;
        padding: .3rem;
        border-radius: .1rem;
        margin-bottom: .3rem;
    }
    
    .panel-discuss .bui-panel-main .block .item-title {
        margin-bottom: .3rem;
        text-align: center;
    }
    
    .panel-discuss .bui-panel-main .block .item-text {
        color: #999;
        margin-top: .2rem;
        margin-bottom: 0;
    }
    
    .panel-discuss .bui-panel-foot {
        border-bottom: 0;
        padding: 0;
    }
    
    .userbar .icon {
        width: .4rem;
        height: .4rem;
        border-radius: .4rem;
        overflow: hidden;
        margin-right: .2rem;
    }
    
    .userbar .item-name {
        margin-right: .2rem;
    }
    
    .panel-discuss .userbar .item-text {
        color: #999;
        margin-bottom: 0;
    }
    
    .votebar {
        border-bottom: 0;
    }
    
    .votebar i {
        color: #333;
    }
</style>

<div class="container-xy">
    <div class="banner">
        <img src="images/banner.png" alt="千万易友的交流社区">
    </div>
    <div class="bui-navbar scrollbar">
        <ul class="bui-nav">
            <!-- <li>之间不能有空隙 -->
            <li class="bui-btn">
                <div class="bui-box">
                    <div class="icon">
                        <img src="images/icons/icon-group1.png" alt="">
                    </div>
                    <div class="span1">
                        <div class="item-title">关注肺炎疫情</div>
                        <div class="item-text">10万人关注</div>
                    </div>
                </div>
            </li>
            <li class="bui-btn">
                <div class="bui-box">
                    <div class="icon">
                        <img src="images/icons/icon-group2.png" alt="">
                    </div>
                    <div class="span1">
                        <div class="item-title">社会话题讨论</div>
                        <div class="item-text">10万人关注</div>
                    </div>
                </div>
            </li>
            <li class="bui-btn">
                <div class="bui-box">
                    <div class="icon">
                        <img src="images/icons/icon-group3.png" alt="">
                    </div>
                    <div class="span1">
                        <div class="item-title">家庭教育交流</div>
                        <div class="item-text">10万人关注</div>
                    </div>
                </div>
            </li>
            <li class="bui-btn">
                <div class="bui-box">
                    <div class="icon">
                        <img src="images/icons/icon-group4.png" alt="">
                    </div>
                    <div class="span1">
                        <div class="item-title">儿童心理研究</div>
                        <div class="item-text">10万人关注</div>
                    </div>
                </div>
            </li>
            <li class="bui-btn">
                <div class="bui-box">
                    <div class="icon">
                        <img src="images/icons/icon-group5.png" alt="">
                    </div>
                    <div class="span1">
                        <div class="item-title">学校教育交流</div>
                        <div class="item-text">10万人关注</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="discuss">
    <div class="bui-panel panel-discuss">
        <div class="bui-panel-head bui-box-align-middle">
            <div class="icon">
                <img src="images/icons/icon-group2.png" alt="">
            </div>
            <div class="item-title">社会话题讨论圈</div>
            <div class="span1">
            </div>
            <div class="item-text">10万人都在围观啥?</div>
            <i class="icon-listright"></i>
        </div>
        <div class="bui-panel-main">
            <h3 class="item-title">你五一准备出门玩吗?</h3>
            <div class="item-text bui-box-text-hide">
                据电商平台数据显示: 出现装备消费人群过多宅家消费人群. 随着,北京疫情防空级别降低二级, 北京五一出行的需求应声上涨, 机票酒店价格疯长, 你五一友出门的打算吗?
            </div>
            <div class="block round">
                <h4 class="item-title">你五一打算出门吗?</h4>
                <div class="bui-box-space container-full">
                    <div class="span1">
                        <div class="bui-btn round danger-reverse">出去走走</div>
                    </div>
                    <div class="span1">
                        <div class="bui-btn round primary-reverse">宅在家里</div>
                    </div>
                </div>
                <div class="item-text">1.3万人参与 投票已结束</div>
            </div>
            <div class="bui-box-align-middle userbar">
                <div class="icon"><img src="images/logo2.png" alt=""></div>
                <div class="item-name">斯威夫特</div>
                <div class="item-text">发布</div>
            </div>
        </div>
        <div class="bui-panel-foot">
            <ul class="bui-nav votebar">
                <li class="bui-btn bui-box-center">
                    <i class="icon-like">&#xe641;</i>
                    <div class="num">100</div>
                </li>
                <li class="bui-btn bui-box-center">
                    <i class="icon-comment"></i>
                    <div class="num">76</div>
                </li>
                <li class="bui-btn bui-box-center">
                    <i class="icon-share"></i>
                    <div class="num">分享</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="bui-panel panel-discuss">
        <div class="bui-panel-head bui-box-align-middle">
            <div class="icon">
                <img src="images/icons/icon-group3.png" alt="">
            </div>
            <div class="item-title">家庭教育交流</div>
            <div class="span1">
            </div>
            <div class="item-text">10万人都在围观啥?</div>
            <i class="icon-listright"></i>
        </div>
        <div class="bui-panel-main">
            <h3 class="item-title">你支持孩子玩手机吗?</h3>
            <div class="item-text bui-box-text-hide">
                据电商平台数据显示: 出现装备消费人群过多宅家消费人群. 随着,北京疫情防空级别降低二级, 北京五一出行的需求应声上涨, 机票酒店价格疯长, 你五一友出门的打算吗?
            </div>
            <div class="block round">
                <h4 class="item-title">你五一打算出门吗?</h4>
                <div class="bui-box-space container-full">
                    <div class="span1">
                        <div class="bui-btn round danger-reverse">支持</div>
                    </div>
                    <div class="span1">
                        <div class="bui-btn round primary-reverse">不支持</div>
                    </div>
                </div>
                <div class="item-text">1.3万人参与 投票已结束</div>
            </div>
            <div class="bui-box-align-middle userbar">
                <div class="icon"><img src="images/logo2.png" alt=""></div>
                <div class="item-name">斯威夫特</div>
                <div class="item-text">发布</div>
            </div>
        </div>
        <div class="bui-panel-foot">
            <ul class="bui-nav votebar">
                <li class="bui-btn bui-box-center">
                    <i class="icon-like">&#xe641;</i>
                    <div class="num">100</div>
                </li>
                <li class="bui-btn bui-box-center">
                    <i class="icon-comment"></i>
                    <div class="num">76</div>
                </li>
                <li class="bui-btn bui-box-center">
                    <i class="icon-share"></i>
                    <div class="num">分享</div>
                </li>
            </ul>
        </div>
    </div>
</div>