<style>
    .panel-hotlist .bui-panel-head {
        color: #b6b7b8;
        border-bottom-color: #f9fafa;
    }
    
    .panel-hotlist .bui-list .bui-btn {
        border-bottom-color: #f9fafa;
    }
    
    .panel-hotlist .panel-title {
        height: .5rem;
    }
    
    .panel-hotlist .icon {
        font-size: .32rem;
        font-weight: 300;
    }
    
    .panel-hotlist .count {
        color: #a1a2a3;
        margin-right: .2rem;
    }
    
    .panel-hotlist .icon-up {
        color: #e62026;
    }
    
    .panel-hotlist .icon-down {
        color: #248bea;
    }
    
    .panel-hotlist .bui-list .bui-btn:nth-child(1) .icon,
    .panel-hotlist .bui-list .bui-btn:nth-child(2) .icon,
    .panel-hotlist .bui-list .bui-btn:nth-child(3) .icon {
        color: #e52122;
        font-style: italic;
        font-weight: normal;
    }
</style>
<div class="bui-panel panel-hotlist">
    <div class="bui-panel-head bui-box-align-middle">
        <div class="span1"><img src="images/icons/icon-hot.png" alt="" class="panel-title"></div>
        <div class="bui-btn-text mini">查看完整榜单</div>
        <i class="icon-listright"></i>
    </div>
    <div class="bui-panel-main container-y">
        <ul class="bui-list" b-template="hotlist.tplList(result)">
            <!-- <li class="bui-btn bui-box">
                <div class="icon">1</div>
                <div class="span1">导演乔舒马赫去世</div>
                <div class="count">24624</div>
                <i class="icon-up">&#xe647;</i>
            </li>
            <li class="bui-btn bui-box">
                <div class="icon">2</div>
                <div class="span1">21世纪最晚端午节</div>
                <div class="count">23952</div>
                <i class="icon-up">&#xe647;</i>
            </li>
            <li class="bui-btn bui-box">
                <div class="icon">3</div>
                <div class="span1">莫向晚被砸蛋糕</div>
                <div class="count">23945</div>
                <i class="icon-up">&#xe647;</i>
            </li>
            <li class="bui-btn bui-box">
                <div class="icon">4</div>
                <div class="span1">雨桐道歉</div>
                <div class="count">23087</div>
                <i class="icon-down">&#xe64b;</i>
            </li>
            <li class="bui-btn bui-box">
                <div class="icon">5</div>
                <div class="span1">KTV消费不超2小时</div>
                <div class="count">21844</div>
                <i class="icon-up">&#xe647;</i>
            </li> -->
        </ul>
    </div>
</div>