<style>
    #showMoreMenu {
        /* background: #fff; */
        padding-top: .2rem;
    }
    
    .bui-navbar .bui-nav {
        border-width: 0;
    }
    
    .bui-navbar .bui-btn.active {
        color: #e2262a;
    }
    
    .bui-navbar .bui-btn.active:after {
        background: #e2262a;
    }
</style>

<div class="bui-tab bui-box-vertical">
    <div class="bui-tab-head">
        <div class="bui-box">
            <div class="span1">
                <div class="bui-navbar">
                    <ul class="bui-nav">
                        <!-- <li>之间不能有空隙 
                    <li class="bui-btn active">要闻</li>-->
                    </ul>
                </div>
            </div>
            <div id="showMoreMenu" class="bui-btn-text mini"><i class="icon-listdown"></i></div>
        </div>
    </div>
    <div class="bui-tab-main">
        <ul>
            <!-- <li>
                <component id="hometab0" name="pages/components/list/index" type="yaowen" result="T1467284926140"></component>
            </li> -->
        </ul>
    </div>
</div>