<style>
    .panel-tag {
        margin: 0;
    }
    
    .panel-tag .bui-panel-head {
        border: 0;
        color: #b6b7b8;
    }
    
    .panel-tag .bui-panel-main {
        padding-bottom: .2rem;
    }
    
    .tag-list .span1 {
        margin-bottom: .2rem;
        margin-left: .2rem;
    }
    
    .tag-list .bui-btn {
        white-space: nowrap;
        padding: .18rem .3rem;
        background: #f4f8f9;
        border: 0;
    }
</style>
<div class="bui-panel panel-tag">
    <div class="bui-panel-head bui-box-align-middle">
        <div class="span1" b-text="categoryhot.title"></div>
    </div>
    <div class="bui-panel-main">
        <div class="bui-box-fluid tag-list" b-template="categoryhot.tplList(result)">
            <!-- <div class="span1">
                <div class="bui-btn ring">谈心社</div>
            </div>
            <div class="span1">
                <div class="bui-btn ring">跟帖热议榜</div>
            </div>
            <div class="span1">
                <div class="bui-btn ring">轻松一刻</div>
            </div> -->
        </div>
    </div>
</div>