<style>
    .commentbar {
        background: #fff;
    }
    
    .commentbar .bui-nav-icon .bui-btn {
        padding-top: .2rem;
        /* padding-bottom: .1rem; */
    }
    
    .commentbar .bui-nav-icon .bui-btn i {
        font-size: .48rem;
        height: .72rem;
        line-height: .72rem;
    }
    
    .commentbar .bui-badges {
        font-size: .16rem;
        padding-left: .05rem;
        padding-right: .05rem;
        right: -12px;
    }
    
    .commentbar .bui-input {
        background: #f4f5f6;
        border-radius: .5rem;
        padding-left: .2rem;
    }
    
    .commentbar .bui-input input {
        width: 100%;
        height: .66rem;
    }
</style>
<div class="commentbar bui-box-align-middle container">
    <div class="span1">
        <div class="bui-input btn-comment">
            <input type="text" readonly="true" placeholder="写跟帖">
        </div>
    </div>
    <div class="span1">
        <div class="bui-nav-icon bui-box-align-right">
            <!-- <div class="bui-btn">
                <i class="icon-comment"><span class="bui-badges">3.1万</span></i>
            </div>
            <div class="bui-btn btn-share"><i class="icon-share"></i></div> -->
        </div>
    </div>
</div>