<style>
    .bui-nav-bigger .bui-btn>.bui-icon {
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
        overflow: hidden;
        border-radius: .1rem;
    }
    
    .bui-nav-bigger .bui-icon img {
        height: 100%;
    }
    
    .tab-group .subtitle {
        padding-top: .3rem;
        padding-bottom: .3rem;
        background: #fff;
        color: #999;
    }
    
    .tab-group .subtitle .line {
        height: 1px;
        overflow: hidden;
        background: #ddd;
        width: .4rem;
        margin-right: .2rem;
        margin-left: .2rem;
    }
</style>
<div class="tab-group">
    <div class="subtitle bui-box-center">
        <div class="line"></div>
        <div class="subtitle-text">生活杂谈</div>
        <div class="line"></div>
    </div>
    <ul class="bui-nav-icon bui-nav-bigger bui-fluid-3">
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group1.png" alt="">
            </div>
            <div class="item-title">关注肺炎疫情</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group2.png" alt="">
            </div>
            <div class="item-title">社会话题讨论</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group3.png" alt="">
            </div>
            <div class="item-title">家庭教育交流</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group4.png" alt="">
            </div>
            <div class="item-title">儿童心理研究</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group5.png" alt="">
            </div>
            <div class="item-title">学校教育交流</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group6.png" alt="">
            </div>
            <div class="item-title">职业交流圈</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group7.png" alt="">
            </div>
            <div class="item-title">家里那些事</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group8.png" alt="">
            </div>
            <div class="item-title">这个颜值打几分</div>
            <div class="item-text">10万人关注</div>
        </li>
        <li class="bui-btn">
            <div class="bui-icon">
                <img src="images/icons/icon-group9.png" alt="">
            </div>
            <div class="item-title">不开心疗养院</div>
            <div class="item-text">10万人关注</div>
        </li>
    </ul>
</div>